#hover-content {
  display: none;
}

#player:hover #hover-content {
  display: block;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  mask-image: transparent;
}

nav ul {
  text-align: left;
  background: -moz-linear-gradient(left, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.13) 50%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.13) 50%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.13) 50%,rgba(255,255,255,0) 100%);
  width: 100%;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 10px;
  font-family: "Roboto";
  color: rgba(0, 0, 0, 1);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 25px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

.ui-resizable-helper {
  border: 1px dotted gray;
}
.resizable {
  border: 2px solid gray;
}
